/* src/index.css */
:root {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: flex-start; /* Mengubah dari center ke start */
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%; /* Memastikan React menempati seluruh lebar layar */
  margin: 0;
}